body {
    margin: 0;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 10;
  }
  
  footer {
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .photo {
   
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
  }

  #loading {
    transition: all 3s; /*ローディングにかかる時間*/
    background-color: #FFF;
    z-index: 999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .loading-text {
    font-weight: bold;
    text-align: center;
  }
  
  .spin {
    width: 64px;
    height: auto;
  }
  
  .loaded {
    opacity: 0;
    visibility: hidden;
  }

  